{% extends "base.html" %}
{% block title %} {{ exam.title }} {% endblock %}
{% block content %}
    <script>
        // JavaScript to delay redirection
        function redirectToHome() {
            setTimeout(function() {
                window.location.href = "{{ url_for('login') }}";
            }, 3000); // Delay of 3 seconds (3000 milliseconds)
        }
        window.onload = redirectToHome;
    </script>

    <div class="container">
        <h1>Thank you for completing the exam!</h1>
        <h1>Your score: {{ score }}%</h1>
        <h1>You will be redirected to the home page shortly...</h1>
    </div>
{% endblock %}
