{% extends "base.html" %}
{% block title %} {{ exam.title }} {% endblock %}
{% block content %}

<style>
    .option {
        padding: 10px;
        border: 1px solid #ccc;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .option.selected {
        background-color: #4CAF50;
        color: white;
    }
</style>


<div class="exam-container">
    <h1 class="exam-title">{{ exam.title }}</h1>

    <form method="POST">
        {% for question in questions %}
        <div class="question-card" id="question_{{ question.id }}">
            <div class="question-text">{{ question.content }}</div>
            <div class="options">
                {% for option in [('A', question.option_a), ('B', question.option_b),
                ('C', question.option_c), ('D', question.option_d)] %}
                {% if option[1] %}
                <div class="option" data-value="{{ option[0] }}" onclick="selectOption(this, {{ question.id }})">
                    {{ option[0] }}: {{ option[1] }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button type="button" class="btn btn-primary" style="display: inline-block; margin-top: 10px;"
                onclick="confirmAnswer({{ question.id }})">Confirm Answer</button>
        </div>
        {% endfor %}
        <div class="action-buttons">
            <button type="submit" class="btn btn-success">Review and Submit</button>
        </div>
    </form>
</div>

<script>
    
    function selectOption(optionDiv, questionId) {
        const options = document.querySelectorAll(`#question_${questionId} .option`);
        options.forEach(opt => opt.classList.remove('selected'));  // Deselect all options
        optionDiv.classList.add('selected');  // Select the clicked option
        
    }

    function confirmAnswer(questionId) {
        const selectedOption = document.querySelector(`#question_${questionId} .option.selected`);
        

        if (selectedOption) {
            const answerValue = selectedOption.getAttribute('data-value');
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = `answer_${questionId}`;
            hiddenInput.value = answerValue;

            document.querySelector('form').appendChild(hiddenInput);  // Add the selected answer to the form
            document.getElementById(`question_${questionId}`).style.display = 'none';  // Hide the question after confirming the answer
        } else {
            
        }
    }
</script>
{% endblock %}
